<%- include('../partials/header.ejs') %>

<div class="container py-4 mt-4 bg-secondary rounded-3">
    <div class="form-group mb-3 bg-primary border border-secondary rounded-3">
        <h1 class="display-5 fw-bold text-center py-1">Manage users</h1>
        <hr class='dark-long mb-2'>

        <div class='row'>
            <form class="input-group" action="/user/manage" method="GET">
                <div class='col-12 offset-0 col-md-8 offset-md-2 col-lg-6 offset-lg-3'>
                    <div class="form-outline d-flex pb-2 mx-2">
                        <input type="search" id="form1" name=value class="form-control form-control-sm"
                        placeholder='search' value='<% if (search.value) { %><%= search.value %><% } %>'>
                        <button type="submit" class="btn btn-primary btn-sm">
                          <i class="fas fa-search"></i>
                        </button>
                    </div>
                    <div class="form-group mb-2">
                        <div class="row">
                          <div class="col-12">
                            <select class="form-select" aria-label="role" name="role">
                              <option value="none" <% if (!search.role) { %> selected <% } %> >User type (Any)</option>
                              <option value="member" <% if (search.role == 'member') { %> selected <% } %> >Member</option>
                              <option value="manager" <% if (search.role == 'manager') { %> selected <% } %> >Manager</option>
                              <option value="admin" <% if (search.role == 'admin') { %> selected <% } %> >Admin</option>
                            </select>
                          </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        
        <%- include('../partials/pagebar.ejs') %>

        <table class="table table-striped bg-light">
            <tbody>
                <% if (userlist) { %> 
                    <% if (userlist.length == 0) { %> 
                        <tr><td>
                            <p class="fw-bold mx-4 my-2 text-center">
                                There are no result.
                            </p>
                        </tr></td>
                    <% } else { %> 
                        <% userlist.forEach(function(user) { %>
                        <tr><td>
                                <div class='row'>
                                    <div class='col-3 col-md-2'>
                                        <div class='d-flex justify-content-center'>
                                            <img src="<%= user.avatar %>" alt="AAAAAAAA" height="120px">
                                        </div>
                                        
                                    </div>

                                    <div class='col-6 col-md-8'>
                                        <div class='fw-bold fs-2'><%= user.username %></div>
                                        <p class="fw-light">Role: <%= user.role %></p>
                                    </div>

                                    <div class='col-3 col-md-2'>
                                        <% if (currentUser.role === 'admin') { %> 
                                            <a href="/user/manage/<%= user._id %>"><button class="btn btn-warning text-black w-100 mb-2">Manage Role</button></a>
                                        <% } %>
                                    </div> 

                                </div>
                        </tr></td>
                        <% }); %> 
                    <% } %> 
                <% } %> 
            </tbody>
        </table>
    </div>

</div>

<%- include('../partials/footer.ejs') %>

