<%- include('partials/header.ejs') %>

<h1><%= movie.moviename %></h1>
<img src="<%= movie.image %>" alt="AAAAAAAA" height="600px">
<p><%= movie.desc %></p>
<p><%= movie.airdate %></p>

<%- include('partials/footer.ejs') %>