<%- include('../partials/header.ejs') %>

<h1><%= theatre.theatrename %></h1>
<img src="<%= theatre.icon %>" alt="AAAAAAAA" height="600px">
<p><%= theatre.desc %></p>
<p><%= theatre.location %></p>

<%- include('../partials/footer.ejs') %>