<%- include('../partials/header.ejs') %>

  <div class="album py-3 bg-secondary">
    <div class="container">
      <div class="row">

        <% theatrelist.forEach(function(theatre) { %>
        <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4 pt-2">
          <div class="card box-shadow theatre h-100 d-flex justify-content-center">
            <a href='/theatres/<%= theatre._id %>' class="btn btn-white w-100">
              <div class="row">
                <div class="col-3">
                  <img class="card-img-top theatre" src="<%= theatre.icon.image %>" alt="AAAAAAAA" height="30">
                </div>
                <div class="col-9 d-flex align-items-center">
                  <p class="card-text fw-bold fs-6 ps-2 text-black"><%= theatre.theatrename %></p>
                </div>
              </div>
            </a>  
          </div>
        </div>
        <% }); %>

      </div>
    </div>
  </div>

<%- include('../partials/footer.ejs') %>