<%- include('../partials/header.ejs') %>

<div class="container py-4 mt-4 bg-secondary">
    <div class="form-group mb-3 bg-primary border border-secondary">
        <h1 class="display-5 fw-bold text-center py-3">Reviews for <%= movie.moviename %></h1>

        <table class="table table-striped bg-light">
            <tbody>

                <% if (movie.review.length == 0) { %> 
                    <tr><td>
                        <p class="fw-bold mx-4 my-2 text-center">
                            There are no reviews yet.
                        </p>
                    </tr></td>
                <% } else { %> 
                    <% movie.review.forEach(function(review) { %>
                        <tr><td>
                            <p class="fw-bold mx-4">
                                <%= review.user.username %> - Rated <%= review.rating %><i class="fas fa-star"></i> / <%= helper.getShortDate(review.reviewdate) %>
                            </p>
                            <p class="fw-light mx-4">
                                <%= review.text %>
                            </p>
                        </tr></td>
                      <% }); %>
                <% } %> 
            </tbody>
        </table>
    </div>
</div>

<%- include('../partials/footer.ejs') %>

